
/* daily ads banner START*/
#message1 {
    background-color: yellowgreen;
    height: 50px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* daily ads banner END*/

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

/* doggie age calc and display result START*/
.center-doggieCalc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculate {
    margin: 1em;
}

#dog {
    width: 15em;
}

.result , #dogAge {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* doggie age calc and display result END*/

/* Body cards START*/
.centerImage {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Body cards END*/