
/* title css START*/
.header-title {
    background-color: rgb(235, 229, 229);
}

.compTitle {
    font-size: 5em;
}

.headLine {
    width: 60%;
}
/* title css END*/

/* daily ads banner START*/
#message1 {
    height: 90px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* daily ads banner END*/

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

/* doggie age calc and display result START*/
.dogCalc {
    margin: 1.3em;
    padding: 1em;
}

.center-doggieCalc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculate {
    margin: 1em;
}

#dog {
    width: 15em;
}

.result , #dogAge {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* doggie age calc and display result END*/

/* Body cards START*/
.centerImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 80%;
}

.page-table {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 229, 229);
    width: 80%;
}

.center-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeTable {
    margin: 1em;
}
/* Body cards END*/

/*Home footer START*/
.myFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 229, 229);
    margin-top: 1em;
}

.footerBlock {
    margin: 1.5em;
}

.noDot {
    list-style-type: none;
}


/*Home footer START*/

/* Denied page CSS START*/
.center-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.denied-img {
    width: 20%;
    height: 20%;
}

p {
    width: 30%;
}

.center-p {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}
/* Denied page CSS END*/