#message1 {
    background-color: yellowgreen;
    height: 50px;
    padding: 15px;
    text-align: center;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

.center-doggieCalc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculate {
    margin: 1em;
}

#dog {
    width: 15em;
}

.result , #dogAge {
    display: flex;
    justify-content: center;
    align-items: center;
}